header {
    background-color: #fbfdfe;
}

.container {
    width: 72.22%;
    max-width: 1040px;
    margin: 0 auto;
}

.upper-header {
    height: 88px;
    @extend %align-center;
    justify-content: space-between;
    border-bottom: solid 1px #dfe8eb;

    div {
        margin: 9px 0 0 50px;
        display: flex;

        h1 {
            margin-left: 5.2px;
            letter-spacing: 1.3px;
        }

        img {
            width: 30px;
            height: 32px;
        }
    }

    nav {
        text-transform: uppercase;
        margin: 9px 50px 0 0;

        a {
            margin: 0 22.5px;
            text-decoration: none;
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 1px;
            color: #2b303a;
        }

        a:last-child {
            padding: 9px 13px 7px 13px;
            border-radius: 5px;
            box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.1);
            background-color: #07e4b7;
            color: #ffffff;
            margin-left: 10px;
        }
    }
}

.lower-header {
    @extend %align-center;
    height: 79px;
}

.brand-description {
    @extend %align-center;

    img {
        width: 36px;
        height: 36px;
    }

    div:last-child {
        margin-left: 10px;

        p {
            font-size: 13px;
        }

        p:nth-child(1) {
            font-weight: 600;
            color: #7666d7;
        }

        p:nth-child(2) {
            margin-top: 3px;
            opacity: 0.6;
            color: #3d4758;
        }
    }
}