.hero {
    margin: 164px 0 0 0;
}

.bgContainer {
    -webkit-transform: skewY(6deg);
    -ms-transform: skewY(6deg);
    transform: skewY(6deg);
}

.bgContainer #gridSection1 .grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[24];
    grid-template-columns: repeat(24, 1fr);
}

.bgContainer #gridSection1 .grid #stripe-left1 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: span 3/4;
    background: #DEDBED;
    height: 60px;
}

.bgContainer #gridSection1 .grid #stripe-left2 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: span 6/7;
    background: #6B00FF;
}

.bgContainer #gridSection1 .grid #stripe-left3 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: span 5/6;
    background: #7666D7;
}

.bgContainer #gridSection1 .grid #stripe-left4 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column: 6;
    -ms-grid-column-span: 5;
    grid-column: span 5/11;
    border: 1px solid #AC6FFF;
    border-left: none;
    border-bottom: none;
}

.bgContainer #gridSection1 .grid #stripe-right1 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 5;
    grid-column: span 5/-1;
    border: 1px solid #AC6FFF;
    border-right: none;
    border-bottom: none;
}

.bgContainer #gridSection1 .grid #stripe-right2 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 3;
    grid-column: span 3/-1;
    background: #7666D7;
}

.bgContainer #gridSection1 .grid #stripe-right3 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 3;
    grid-column: span 3/-4;
    background: #DEDBED;
}

.bgContainer #gridSection1 .grid #stripe-right4 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 5;
    grid-column: span 5/-1;
    background: #6B00FF;
}

.bgContainer #gridSection2 {
    min-height: 600px;
    background: #1F1E42;
}

.bgContainer #gridSection3 {
    background: #1F1E42;
    margin-top: -1px;
}

.bgContainer #gridSection3 .grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[24];
    grid-template-columns: repeat(24, 1fr);
}

.bgContainer #gridSection3 .grid #stripe-left1 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 4;
    grid-column: span 4/4;
    background: #3D3C73;
    height: 60px;
}

.bgContainer #gridSection3 .grid #stripe-left2 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 6;
    grid-column: span 6/6;
    background: #7666D7;
}

.bgContainer #gridSection3 .grid #stripe-left3 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 6;
    -ms-grid-column-span: 5;
    grid-column: span 5/11;
    background: #AC6FFF;
}

.bgContainer #gridSection3 .grid #stripe-right1 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 5;
    grid-column: span 5/-2;
    border: 1px solid #AC6FFF;
}

.bgContainer #gridSection3 .grid #stripe-right2 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 5;
    grid-column: span 5/-1;
    background: #7666D7;
}

#section2 {
    margin: 200px 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#section2 .widgetContainer {
    width: 100%;
}

#section2 .widgetContainer .topSection {
    padding: 15px 20px;
    border-radius: 5px 5px 0 0;
    background: #7666D7;
}

#section2 .widgetContainer .topSection svg {
    position: relative;
    top: 1px;
}

#section2 .widgetContainer .topSection h3 {
    display: inline-block;
    margin-left: 3px;
    font-size: 13px;
    letter-spacing: 0.7px;
    color: #FFFFFF;
}

#section2 .widgetContainer .topSection p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #C8C1EF;
}

#section2 .widgetContainer .topSection span {
    font-weight: 600;
    color: #FFFFFF;
}

#section2 .widgetContainer .codeSection {
    padding: 10px;
    background: #352E62;
    border-radius: 0 0 5px 5px;
}

#section2 .widgetContainer .codeSection code {
    line-height: 2;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    color: #7A72A9;
}

#section2 .widgetContainer .codeSection code .lightBlue {
    color: #CAC1FF;
}

#section2 .widgetContainer .codeSection code .blue {
    color: #66AFFF;
}

#section2 .widgetContainer .codeSection code .orange {
    color: #FFCE8C;
}

#section2 .widgetContainer .codeSection code .red {
    color: #FFB2B2;
}



