header {
  background-color: #fbfdfe;
}

.container {
  width: 72.22%;
  max-width: 1040px;
  margin: 0 auto;
}

.upper-header {
  height: 88px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #dfe8eb;
}

.upper-header > img {
  margin: 9px 0 0 50px;
}

.upper-header nav {
  text-transform: uppercase;
  margin: 9px 50px 0 0;
}

.upper-header nav a {
  margin: 0 22.5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  color: #2b303a;
}

.upper-header nav a:last-child {
  padding: 9px 13px 7px 13px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.1);
  background-color: #07e4b7;
  color: #ffffff;
  margin-left: 10px;
}

.lower-header {
  height: 79px;
}

.brand-description div:last-child {
  margin-left: 10px;
}

.brand-description div:last-child p {
  font-size: 13px;
}

.brand-description div:last-child p:nth-child(1) {
  font-weight: 600;
  color: #7666d7;
}

.brand-description div:last-child p:nth-child(2) {
  margin-top: 3px;
  opacity: 0.6;
  color: #3d4758;
}

.scd-icon {
  width: 36px;
  height: 36px;
  background: url(../IMG/scd_icon.svg) no-repeat;
  background-size: cover;
}

.green-logo {
  width: 31.7px;
  height: 35.4px;
  background: url(../IMG/small_footer_logo.svg) no-repeat;
  background-size: cover;
}

.hero {
  margin: 164px 0 0 0;
}

.bgContainer {
  -webkit-transform: skewY(6deg);
  transform: skewY(6deg);
}

.bgContainer #gridSection1 .grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: 1fr [3];
  grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: 1fr [24];
  grid-template-columns: repeat(24, 1fr);
}

.bgContainer #gridSection1 .grid #stripe-left1 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: span 3/4;
  background: #DEDBED;
  height: 60px;
}

.bgContainer #gridSection1 .grid #stripe-left2 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: span 6/7;
  background: #6B00FF;
}

.bgContainer #gridSection1 .grid #stripe-left3 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: span 5/6;
  background: #7666D7;
}

.bgContainer #gridSection1 .grid #stripe-left4 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: span 5/11;
  border: 1px solid #AC6FFF;
  border-left: none;
  border-bottom: none;
}

.bgContainer #gridSection1 .grid #stripe-right1 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 5;
  grid-column: span 5/-1;
  border: 1px solid #AC6FFF;
  border-right: none;
  border-bottom: none;
}

.bgContainer #gridSection1 .grid #stripe-right2 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 3;
  grid-column: span 3/-1;
  background: #7666D7;
}

.bgContainer #gridSection1 .grid #stripe-right3 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 3;
  grid-column: span 3/-4;
  background: #DEDBED;
}

.bgContainer #gridSection1 .grid #stripe-right4 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-span: 5;
  grid-column: span 5/-1;
  background: #6B00FF;
}

.bgContainer #gridSection2 {
  min-height: 600px;
  background: #1F1E42;
}

.bgContainer #gridSection3 {
  background: #1F1E42;
  margin-top: -1px;
}

.bgContainer #gridSection3 .grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: 1fr [2];
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr [24];
  grid-template-columns: repeat(24, 1fr);
}

.bgContainer #gridSection3 .grid #stripe-left1 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 4;
  -ms-grid-column-span: 4;
  grid-column: span 4/4;
  background: #3D3C73;
  height: 60px;
}

.bgContainer #gridSection3 .grid #stripe-left2 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 6;
  -ms-grid-column-span: 6;
  grid-column: span 6/6;
  background: #7666D7;
}

.bgContainer #gridSection3 .grid #stripe-left3 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: span 5/11;
  background: #AC6FFF;
}

.bgContainer #gridSection3 .grid #stripe-right1 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 5;
  grid-column: span 5/-2;
  border: 1px solid #AC6FFF;
}

.bgContainer #gridSection3 .grid #stripe-right2 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 5;
  grid-column: span 5/-1;
  background: #7666D7;
}

#section2 {
  margin: 200px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#section2 .widgetContainer {
  width: 100%;
}

#section2 .widgetContainer .topSection {
  padding: 15px 20px;
  border-radius: 5px 5px 0 0;
  background: #7666D7;
}

#section2 .widgetContainer .topSection svg {
  position: relative;
  top: 1px;
}

#section2 .widgetContainer .topSection h3 {
  display: inline-block;
  margin-left: 3px;
  font-size: 13px;
  letter-spacing: 0.7px;
  color: #FFFFFF;
}

#section2 .widgetContainer .topSection p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #C8C1EF;
}

#section2 .widgetContainer .topSection span {
  font-weight: 600;
  color: #FFFFFF;
}

#section2 .widgetContainer .codeSection {
  padding: 10px;
  background: #352E62;
  border-radius: 0 0 5px 5px;
}

#section2 .widgetContainer .codeSection code {
  line-height: 2;
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 12px;
  color: #7A72A9;
}

#section2 .widgetContainer .codeSection code .lightBlue {
  color: #CAC1FF;
}

#section2 .widgetContainer .codeSection code .blue {
  color: #66AFFF;
}

#section2 .widgetContainer .codeSection code .orange {
  color: #FFCE8C;
}

#section2 .widgetContainer .codeSection code .red {
  color: #FFB2B2;
}

/* second striped background */
.bgContainer #gridSection3 .grid #stripe-right-1 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 5;
  grid-column: span 5/-1;
  background: none;
  border: solid 1px #ac6fff;
  height: 80px;
}

.bgContainer #gridSection3 .grid #stripe-right-2 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 5;
  grid-column: span 5/-6;
  background-color: #7666d7;
  border: solid 1px #7666d7;
  height: 80px;
}

.bgContainer #gridSection3 .grid #stripe-right-3 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 5;
  grid-column: span 5/-8;
  background-color: #3d3c73;
}

.bgContainer #gridSection3 .grid #stripe-left-1 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: span 5/9;
  border: solid 1px #ac6fff;
  background: none;
}

.bgContainer #gridSection3 .grid #stripe-left-2 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: span 5/8;
  border: solid 1px #ac6fff;
  background: #ac6fff;
}

#section2 {
  margin: 200px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section2 .widgetContainer {
  width: 100%;
  max-width: 540px;
  -webkit-box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 11;
}

#section2 .widgetContainer .reflection {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  bottom: 25px;
  left: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

#section2 > div:first-child img {
  margin-top: 19px;
  padding: 15px;
  font-size: 12px;
  background-color: #d9d9ff;
  border-radius: 50%;
}

#section2 > div:first-child div {
  margin-top: 24px;
}

#section2 > div:first-child div h2 {
  font-size: 20px;
  color: #1d1741;
}

#section2 > div:first-child div p {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.29;
  color: #1d1741;
  max-width: 304px;
}

#section2 .widgetContainer .topSection {
  padding: 15px 20px;
  border-radius: 5px 5px 0 0;
  background: #7666D7;
}

#section2 .widgetContainer .topSection svg {
  position: relative;
  top: 1px;
}

#section2 .widgetContainer .topSection h3 {
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 10px;
  font-size: 13px;
  letter-spacing: 0.7px;
  color: #FFFFFF;
}

#section2 .widgetContainer .topSection p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #C8C1EF;
}

#section2 .widgetContainer .topSection span {
  font-weight: 600;
  color: #FFFFFF;
}

#section2 .widgetContainer .codeSection {
  padding: 10px;
  background: #352E62;
  border-radius: 0 0 5px 5px;
}

#section2 .widgetContainer .codeSection code {
  line-height: 2;
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 12px;
  color: #7A72A9;
}

#section2 .widgetContainer .codeSection code .lightBlue {
  color: #CAC1FF;
}

#section2 .widgetContainer .codeSection code .blue {
  color: #66AFFF;
}

#section2 .widgetContainer .codeSection code .orange {
  color: #FFCE8C;
}

#section2 .widgetContainer .codeSection code .red {
  color: #FFB2B2;
}

.icon4 {
  width: 50px;
  height: 50px;
  background: url(../IMG/feature_icons/icon_4.svg);
  background-repeat: no-repeat;
  background-size: 26px 23px;
  background-color: rgba(118, 102, 215, 0.1);
  border-radius: 50%;
  background-position: center;
}

.upper-header, .upper-header > img, .lower-header, .brand-description, .gridSection-content > div:first-child > div, #section4 .container2, #section4 .container2 #services > div, .deploy-card .deploy-div, .successfully-deployed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* variables */
body {
  background-color: #fbfdfe;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container2 {
  width: 65.27%;
  margin: 0 auto;
}

.ide {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  color: #1d1741;
  line-height: normal;
  margin-top: 94px;
}

.ide-paragraph {
  opacity: 0.5;
  font-size: 15px;
  text-align: center;
  color: #1d1741;
}

.code-editor-img {
  position: absolute;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  display: block;
  width: 54.16%;
  margin: 80px auto 0 auto;
  z-index: 10;
}

/* Content inside background */
.gridSection-content {
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg);
  padding: 196px 0 86px 0;
}

.gridSection-content .icon1 {
  background: url(../IMG/feature_icons/icon_1.svg);
}

.gridSection-content .icon2 {
  background: url(../IMG/feature_icons/icon_2.svg);
}

.gridSection-content .icon3 {
  background: url(../IMG/feature_icons/icon_3.svg);
}

.gridSection-content .icon {
  margin: 0 auto 15px auto;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 26px 20px;
  background-position: center;
  background-color: rgba(118, 102, 215, 0.5);
  border-radius: 50%;
}

.gridSection-content > div:first-child {
  text-align: center;
  color: #ffffff;
}

.gridSection-content > div:first-child h2 {
  margin-top: 15px;
  font-size: 22px;
  line-height: 0.95;
}

.gridSection-content > div:first-child > div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridSection-content > div:first-child > div p {
  margin-left: 9.5px;
  opacity: 0.7;
  font-size: 14px;
}

.gridSection-content > div:first-child > div {
  margin-top: 37px;
}

.gridSection-content > div:first-child > div:last-child {
  margin-top: 26px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 71px;
}

.info div {
  width: 430px;
  margin: 0 32.5px;
}

.info div p {
  opacity: 0.7;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #ffffff;
}

/* content inside background ends */
.purple-circle {
  width: 16px;
  height: 16px;
  border: solid 2px #7666d7;
  border-radius: 50%;
}

#section3 {
  margin-top: 208px;
  margin-bottom: 132px;
}

#section3 .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section3 .container2 div:nth-child(2) {
  margin-left: 50px;
}

#section3 .container2 div:nth-child(2) img {
  padding: 14px;
  border-radius: 50%;
  background-color: #7666d7;
}

#section3 .container2 div:nth-child(2) h2 {
  margin-top: 24px;
  font-size: 20px;
  color: #1d1741;
}

#section3 .container2 div:nth-child(2) p {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.29;
  color: #1d1741;
}

hr {
  border: 1px solid #dfe8eb;
}

.icon5 {
  width: 50px;
  height: 50px;
  background: url(../IMG/feature_icons/icon_5.svg);
  background-repeat: no-repeat;
  background-size: 26px 23px;
  background-color: rgba(118, 102, 215, 0.1);
  border-radius: 50%;
  background-position: center;
  margin-top: 105px;
}

.code-card {
  max-width: 570px;
  padding: 23px 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 12px;
  line-height: 1.67;
  color: #565a6d;
}

#section4 .container2 {
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section4 .container2 #coming-soon span {
  font-size: 12px;
  font-weight: 600;
  color: #ff7624;
}

#section4 .container2 #coming-soon h2 {
  font-size: 25px;
  color: #1d1741;
  margin-top: 15px;
}

#section4 .container2 #coming-soon p {
  opacity: 0.5;
  font-size: 15px;
  margin-top: 5px;
  color: #1d1741;
}

#section4 .container2 #services > div {
  width: 490px;
  height: 60px;
  border-radius: 5px;
  -webkit-box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin: 20px 0;
}

#section4 .container2 #services > div p {
  font-size: 15px;
  line-height: 1.2;
  color: #1d1741;
}

.s-icon1 {
  background: url(../IMG/feature_icons/icon_6.svg);
}

.s-icon2 {
  background: url(../IMG/feature_icons/icon_7.svg);
}

.s-icon3 {
  background: url(../IMG/feature_icons/icon_8.svg);
}

.service-icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: rgba(118, 102, 215, 0.1);
  border-radius: 50%;
  background-position: center;
  margin: 0 21px 0 10px;
}

#section5 {
  margin-top: 90px;
}

#section5 .container2 h2 {
  font-size: 25px;
  text-align: center;
  color: #1d1741;
  margin-bottom: 60px;
}

.deploy-card {
  border-radius: 5px;
  -webkit-box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  width: 780px;
  margin: 0 auto 30px auto;
}

.deploy-card pre {
  padding: 20px 0 0 20px;
  line-height: 1.75;
  color: #868da8;
  font-size: 12px;
}

.deploy-card .deploy-div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: solid 1px #dfe8eb;
  height: 55px;
  border-radius: 5px;
  -webkit-box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.deploy-card .deploy-div button {
  width: 101px;
  height: 35px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.31);
          box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.31);
  background-color: #7666d7;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.successfully-deployed {
  width: 780px;
  margin: 0 auto;
  height: 93px;
  border-radius: 5px;
  -webkit-box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 35px 55px -15px rgba(0, 0, 0, 0.15);
  background-color: #7666d7;
}

.successfully-deployed div {
  margin-left: 35px;
}

.successfully-deployed div h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 5px;
}

.successfully-deployed div p {
  font-size: 14px;
  line-height: 1.29;
  color: #c8c1ef;
}

.shape-stripe {
  margin: 90px 0;
  height: 26px;
  background: url(../IMG/Shape.svg);
}

.purple-dot {
  width: 18px;
  height: 18px;
  background-color: #7666d7;
  border-radius: 50%;
  margin: 0 auto;
}

#section6 .container2 h2 {
  font-size: 25px;
  text-align: center;
  color: #1d1741;
  margin-top: 20px;
}

#section6 .container2 p {
  margin-top: 14px;
  opacity: 0.5;
  font-size: 15px;
  line-height: 2.07;
  text-align: center;
  color: #1d1741;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* media queries */
@media screen and (max-width: 768px) {
  #gridSection1 .grid #stripe-left1 {
    height: 40px !important;
  }
  #gridSection3 .grid #stripe-left1 {
    height: 40px !important;
  }
}
/*# sourceMappingURL=style.css.map */